
html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(35, 35, 35);
}

.row{
    display: flex;
    justify-content: start;
    align-items: center;
}

.topbar{
    text-align: center;
    background-color: #3eac8bff;
    overflow: hidden;
    font-family: Rozha One, serif;
    font-size: 3.5rem; 
}

.logo a{
    float: left;
    text-decoration: none;
    color:  #f6f4ebff;
    padding-left: 20px;
    font-weight: bold;
}

.topbar-contents a{
    float: right;
    padding: 20px 26px;
    font-size: 26px;
    text-decoration: none;
    color:  rgb(37, 37, 37);
}

.topbar-contents{
    float: right;
    padding: 20px 26px;
    font-size: 26px;
    text-decoration: none;
    color:  rgb(37, 37, 37);
}

.header-search{
    float: center;

}

.topbar-button{
    background: pink;
    color: white;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.topbar-button:hover{
    background: palevioletred;
}