
{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rozha+One&family=Tiny5&family=VT323&display=swap" rel="stylesheet">



<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Home</title>
    <style>
        /* Add space between the posts and the suggestions */
        .post-container {
            background-color: #f6f4ebff;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
            margin-bottom: 16px;
            padding-left: 80px; /* No extra space */
            padding-right: 0px;
            display: flex; /* Shrink container width to fit content */
            overflow: hidden; /* Hide any overflowing content */
            width: 60%;
        }

        .post-image img {
            display: fixed; /* Remove inline spacing */
            float: center;
            width: 600px; /* Make the image fill its container */
            height: auto; /* Preserve the image's aspect ratio */
            border-radius: 8px; /* Apply rounded corners */
            margin: 0; /* No extra margins */
        }

        .posts-wrapper {
            margin-top:50px;
            /* margin-right: 200px; */
        }

        /* Improve username styling */
        .post-user {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            color: #333;
            padding: 8px 12px;
            background-color: #f6f4ebff;
            border-radius: 20px;
            text-decoration: none;
        }

        .post-user:hover {
            background-color: #ffffff;
        }

        /* Additional spacing for right sidebar */
        .right-sidebar {
            margin-left: 24px;
        }

        .sidebar-box {
            padding: 16px;
            border-radius: 8px;
            background-color:rgb(74, 145, 124);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        .suggestion-item {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .suggestion-item img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .col.sidebar {
            background-color: #f6f4ebff; /* Set background color to the desired shade */
        }

        .search-button{
            color: white;
            font: Rozha One, serif;
        }

        .logo a{
            font-weight: 500;
        }
    </style>
</head>



<body>
    <div class="container">
        <header class="row topbar">
            <div class="logo">
                <a href="/">fabrik</a>
            </div>
            <div class="topbar-contents">
                <form action="/search" method="POST" class="search-form">
                    {% csrf_token %}
                    <input
                        type="text"
                        name="username"
                        placeholder="Search for username..."
                        class="search-input"
                    >
                    <button type="submit" class="search-button">
                        <i class="search-icon"></i> Search
                    </button>
                </form>
 
 
                <!-- Profile Avatar with Dropdown -->
                <div class="profile-container">
                    <!-- Profile Image (clickable) -->
                    <a href="#" uk-toggle="target: .profile-dropdown" style="
                        padding-right: 25px;
                        padding-left: 15px">
                        <img src="{{user_profile.profileimg.url}}" class="header-avatar" alt="Profile Image">
                    </a>
 
 
                    <!-- Dropdown Menu for Profile -->
                    <div uk-dropdown="mode: click; offset: 9" class="header-dropdown profile-dropdown border-t hidden">
                        <ul>
                            <li><a href="profile/{{user_profile.user.username}}">Profile</a></li>
                            <li><a href="closet/{{user_profile.user.username}}">Closet</a></li>
                            <li><a href="settings">Settings</a></li>
                            <li><a href="logout">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>


        <div class="row">
            <div class="col sidebar" background=#f6f4ebff>
                <ul>
                    <!-- Create Outfit Button -->
                    <div class="create-outfit">
                        <a href="{% url 'create-outfit' %}" class="btn-upload">
                            <ion-icon name="add-circle" class=" -mb-1 mr-1 opacity-90 text-xl"></ion-icon> Create Outfit                            
                        </a>
                    </div>  

                    <!-- New Post Button -->
                    <div class="relative inline-block text-left post-outfit2">
                        <button class="btn-upload post-outfit" type="button" uk-toggle="target: .post-dropdown" >
                            <ion-icon name="add-circle" class="-mb-1 mr-1 opacity-90 text-xl"></ion-icon> New Post
                        </button>
        
                        <!-- <div class="dropdown-menu post-dropdown hidden">
    
                        </div> -->

                        <div uk-dropdown="pos: bottom-right;mode:click ; animation: uk-animation-slide-bottom-small" class="post-dropdown hidden">
                            <form action="{% url 'post-outfit' %}" method="POST">
                                {% csrf_token %}
                                <div class="py-1" role="none">
                                    <p class ="">Select Outfit</p>
                                    <select name="outfit_id" id="outfit" class="w-full border rounded px-4 py-2">
                                        <option value="">Choose Outfit</option>
                                        {% for outfit in outfits %}
                                            {% if outfit.name != "" %}
                                                <option value="{{ outfit.id }}">{{ outfit.name }}</option>
                                            {% else %}
                                                <option value="{{ outfit.id }}">{{ outfit.top.item_name }} / {{ outfit.bottom.item_name }}</option>
                                            {% endif %}
                                        {% empty %}
                                            <option disabled>No outfits available</option>
                                        {% endfor %}
                                    </select>
                                    <textarea class="button soft-warning small" name="post_caption" placeholder="The caption of your post..."></textarea>
                                </div>
                                <div class="py-1" role="none">
                                    <button type="submit" class="">Post Outfit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                            
                    <!-- Upload Clothes Button -->
                    <div class="upload-clothes" uk-toggle="target: .upload-dropdown">
                        <a href="#" class="btn-upload">
                            <ion-icon name="add-circle" class=" -mb-1 mr-1 opacity-90 text-xl"></ion-icon> Upload Clothes
                        </a>
                    </div>
                    <!-- upload dropdown box -->

                    <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="upload-dropdown">

                        <!-- notification header -->
                        <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                            <!-- <h4>Upload Clothes</h4> -->
                        </div>

                        <!-- notification contents -->
                        <div class="flex justify-center flex-center text-center">

                            <div class="flex flex-col choose-upload text-center">
                                
                                <div class="bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg  ">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                        <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                                        <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                                    </svg>
                                </div>

                                <!-- Uploading clothes -->
                                <form action="upload" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p class=""> Upload Clothes
                                </p>
                                <div>
                                    <input type="file" name="image_upload">
                                    <!-- <a href="#" class="button soft-warning small"> Choose file</a>  -->
                                    <select name="category" id="category" class="w-full p-2 mb-4 border rounded" onchange="checkCategory()">
                                        <option value="">Select category</option>
                                        <option value="Tops">Top</option>
                                        <option value="Bottoms">Bottom</option>
                                        <option value="Shoes">Shoe</option>
                                        <option value="Hats">Hat</option>
                                        <option value="Accessories">Accessory</option>
                                    </select>
                                    <textarea class="button soft-warning small" name="item_name" placeholder="The name of your item..."></textarea>
                                    <br>
                                    {% if category.value != "Select" %}
                                    <button id="uploadButton" class="button bg-pink-700" type="submit" style="display: none;">Upload</button>
                                    {% endif %}
                                </div>
                                </form>
                            </div>

                        </div>
                        <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm">
                            Your Image size Must be Maxmium 999MB
                        </div>
                    </div>

                </ul>
            </div>

            <div class="col custom-feed post-feed">
                <!-- post 1-->
                <div class="posts-wrapper">
                {% for post in posts reversed %} 
                <div class="post-container">
                    <div class="col" >
                        <!-- Post Header -->
                        <div class="post-headers">
                            <div class="post-user">
                                <a href="profile/{{post.user}}" class="font-bold text-lg">@{{post.user}}</a>
                            </div>
                            {% if post.user == user.username %}
                            <div>
                                <a href="#" class="text-gray-500">
                                    <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition"></i>
                                </a>
                                <div uk-dropdown="mode: click; offset: 9" class="header-dropdown profile-dropdown border-t hidden">
                                    <ul>
                                        <li><a href="#">Edit Caption</a></li>
                                        <li>
                                            <a href="/delete-post?post_id={{post.id}}" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md">
                                                <i class="uil-trash-alt mr-1"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <!-- Post Image -->
                        <div class="post-image">
                            <a href="{{post.image.url}}">
                                <img src="{{post.image.url}}" alt="Post Image" class="rounded-lg w-full">
                            </a>
                        </div>

                        <!-- Post Actions and Caption -->
                        <div class="py-3 space-y-3">
                            <div class="flex space-x-4 lg:font-bold">
                                <a href="/like-post?post_id={{post.id}}" class="flex items-center space-x-2">
                                    <div class="p-2 rounded-full text-black">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25">
                                            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                        </svg>
                                        {% if post.no_of_likes == 0 %}
                                        <p>No likes</p>
                                        {% else %}
                                        <p>Liked by {{post.no_of_likes}}</p>
                                        {% endif %}
                                    </div>
                                </a>
                                <a href="#" class="flex items-center space-x-2 flex-1 justify-end">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="25" height="25">
                                        <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z" />
                                    </svg>
                                </a>
                            </div>
                            <p>
                                <a href="#" class="font-semibold">{{post.user}}</a>: {{post.caption}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                </div>
            </div>  
            
            <div class="col right-sidebar">
                <!-- Follow Suggestions (right sidebar) -->
                <div class="sidebar-box">
            
                    <div class="sidebar-header">
                        <h2>Suggested Users</h2>
                    </div>
            
                    <div>
                        {% for suggestion in suggestions_username_profile_list %}
                        <div class="suggestion-item">
                            <div class="flex items-center">
                                <a href="profile/{{suggestion.user}}">
                                    <img src="{{suggestion.profileimg.url}}" class="profile-img">
                                </a>
                                <div class="ml-4">
                                    <a href="/profile/{{suggestion.user}}" class="block font-semibold">{{suggestion.user}}</a>
                                    <!-- <span class="block text-sm">{{suggestion.bio}}</span> -->
                                </div>
                            </div>
                            <a href="/profile/{{suggestion.user}}" class="view-user-btn">View</a>
                        </div>
                        {% endfor %}
                    </div>
            
                </div>
            </div>

        </div>


    </div>
    <!-- Scripts
            ================================================== -->
            <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
            <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'assets/js/uikit.js' %}"></script>
            <script src="{% static 'assets/js/simplebar.js' %}"></script>
            <script src="{% static 'assets/js/custom.js' %}"></script>


            <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

            <!-- Script for checking if category field has been picked -->
            <script>
            function checkCategory() {
                const category = document.getElementById("category").value;
                const uploadButton = document.getElementById("uploadButton");
                
                if (category) {
                    uploadButton.style.display = "inline-block"; // Show button if a valid category is selected
                } else {
                    uploadButton.style.display = "none"; // Hide button if "Select category" is chosen
                }
            }
            </script>

        <script>
            function closePost(postElement) {
                postElement.style.display = "none"; // Hide the clicked post
            }
        </script>
</body>
</html>
</html>








