
{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rozha+One&family=Tiny5&family=VT323&display=swap" rel="stylesheet">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="col logo">
                <a href="/">fabrik</a>
            </div>
            <div class="col topbar-contents">
                <!-- create outfit -->
                <a href="#" class="topbar-button">
                    <ion-icon name="add-circle" class="-mb-1
                        mr-1 opacity-90 text-xl uilus-circle"></ion-icon> Create Outfit
                </a>
                <!-- upload clothes -->
                <a href="#"
                    class="topbar-button">
                    <ion-icon name="add-circle" class="-mb-1
                        mr-1 opacity-90 text-xl uilus-circle"></ion-icon> Upload Clothes
                </a>
                <!-- upload dropdown box -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">
                    <!-- notification header -->
                    <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                        <!-- <h4>Upload Clothes</h4> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>










