{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rozha+One&family=Tiny5&family=VT323&display=swap" rel="stylesheet">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Profile - {{user_profile.user.username}}</title>

    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<style>
		* {
			margin: 0;
			padding: 0;
		}
		.banner-img{
			display: grid;
		}
		.center-fit{
			max-width: 100%;
            /* margin: auto; */
		}
		.profile-image {
			float: right;
			margin-top: -200px;
			/* overflow: hidden; */
			position: absolute;
			width: 20%;
			height: 20%;
		}

		a:link {
			color: #f6f4ebff;
			text-decoration: none;
		}
		a:visited {
			color: #f6f4ebff;
			text-decoration: none;
		}
		a:hover {
			color: rgb(33, 239, 70);
			text-decoration: none;
		}
		a:active {
			color: #f6f4ebff;
			text-decoration: none;
		}

		.profile-info-bar{
			/* padding-left: 21%; */
			background:rgb(167, 167, 167);
		}

		.info-bar-items{
			padding-left: 2%;
			color: rgb(0, 0, 0); 
			font-size: 1.3rem;

		}

		.settings-or-follow{
			font-size: 1.3rem; 
			background-color: #3eac8bff; 
			float: right;
			border: none;
			padding-left: 10px;
			padding-right: 10px;
			font-weight: bold;
			border: 2px solid black;
		}

		.bio{
			background: #f6f4ebff;
			font-size: 1rem;
			width: 50%;
		}

	</style>

</head>

<body>
	
	</div>
	
	<section>
		<header style ="background:#3eac8bff">
			<b><h1 style="
				font-family: Rozha One, serif;
				font-size: 3.5rem; 
				color:  #f6f4ebff;
				padding-left: 20px
			"><a href="/">fabrik</a>
		</header>

                </div>
				<div class="banner-img">
					<img class="center-fit" src="{% static 'images/resources/timeline-1.jpg' %}">
				</div>

				<div class="profile-image">
					<figure>
						<img src="{{user_profile.profileimg.url}}" style="
							position: absolute; 
							height: 200px; 
							width: 100%;
							padding-left: 10px;
							padding-bottom: 10px;
							border-radius: 50%
							">
					</figure>
				</div>
				<h5 style="
					background: #3eac8bff; 
					position:relative; 
					color: #f6f4ebff; 
					white-space: nowrap; 
					font-size: 27px;
					padding-left: 1%;
				"><b>@{{user_profile.user.username}}'s closet</b></h5>
	
				<form action="/follow" method="POST">
					{% csrf_token %}
					<div class="profile-info-bar">
						
						{% if user_post_length == 0 %}
						<span class="info-bar-items"><b>0 posts</b></span>
						{% elif user_post_length == 1 %}
						<span class="info-bar-items"><b>{{user_post_length}} post</b></span>
						{% else %}
						<span class="info-bar-items"><b>{{user_post_length}} posts</b></span>
						{% endif %}

						<span class="info-bar-items"><b>0 followers</b></span>
						<span class="info-bar-items"><b>0 following</b></span>

						<input type="hidden" value="{{user.username}}" name="follower" />
						<input type="hidden" value="{{user_object.username}}" name="user" />

						{% if user_object.username != user.username %}
						<a data-ripple=""><button type="submit" class="settings-or-follow">Follow</button></a>
						{% else %}
						<a href="/settings" data-ripple=""><button type="submit" class="settings-or-follow" >Account Settings</button></a>
						{% endif %}
					</div>
				</form>

				<!-- <form class="edit-phto">
					<i class="fa fa-camera-retro"></i>
					<label class="fileContainer">
						Upload Cover Photo
					<input type="file"/>
					</label>
				</form> -->
				<div class="container-fluid">
					<div class="row merged">
						<div class="col-lg-2 col-sm-3">
							
						</div>
						<div class="col-lg-10 col-sm-9">
							<div class="timeline-info">
								<!-- <ul>
									<li class="admin-name">
									  <--<span>Group Admin</span>-->
									<!-- </li> -->
									<!--<li>
										<a class="" href="javascript:void(0)" title="" data-ripple="">Go live!</a>
										<a class="" href="javascript:void(0)" title="" data-ripple="">Music</a>
										<a class="" href="emporium/index-3.html" title="" data-ripple="">Emporium</a>
										<a class="" href="fitness/index.html" title="" data-ripple="">Health Inspection</a>
										<a class="" href="settings/account-setting.html" title="" data-ripple="">Settings</a>
										<a class="" href="javascript:void(0)" title="" data-ripple="">Upload</a>
										<a class="" href="time-line.html" title="" data-ripple="">time line</a>
										<a class="" href="timeline-photos.html" title="" data-ripple="">Photos</a>
										<a class="" href="timeline-videos.html" title="" data-ripple="">Videos</a>
										<a class="" href="timeline-friends.html" title="" data-ripple="">Friends</a>
										<a class="" href="timeline-groups.html" title="" data-ripple="">Groups</a>
										<a class="" href="about.html" title="" data-ripple="">about</a>
										<a class="" href="#" title="" data-ripple="">more</a>

									</li>-->
								<!-- </ul> -->
							</div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</section><!-- top area -->
		<section>
			<div class="bio">
				{{user_profile.bio}}
			</div>
		</section>
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									
									
									
								</aside>
							</div><!-- sidebar -->
							
							<div class="col-lg-6">
								<div class="central-meta">
									<ul class="photos">
										{% for post in user_posts reversed %}
										<li>
											<a class="strip" href="{{post.image.url}}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="{{post.image.url}}" style="height: 250px; width: 300px;" alt=""></a>
										</li>
										{% endfor %}
										
									</ul>
									<!--<div class="lodmore"><button class="btn-view btn-load-more"></button></div>-->
								</div><!-- photos -->
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	
	
	<script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>

</body>	


</html>