
{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rozha+One&family=Tiny5&family=VT323&display=swap" rel="stylesheet">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile - {{user_profile.user.username}}</title>
</head>

<body>
 <div class="container">
    <div class="main">

        <div class="topbar">
			<div class="col logo">
				<a href="/">fabrik</a>
			</div>
			<div class="col topbar-contents">
				<a href="logout">Log Out</a>
				<a href="/">Home</a>
			</div>
        </div>

        <div class="row profile-section">
			<div class="col-md-6">
				<img src="{{user_profile.profileimg.url}}" class="profile-img" width="150">
			</div>
			<div class="col-md-6">
				<div class="closet">
					<h3>@{{user_profile.user.username}}'s Closet
						<form action="/follow" method="POST">
							{% csrf_token %}
							<div class="profile-info">
								<input type="hidden" value="{{user.username}}" name="follower" />
								<input type="hidden" value="{{user_object.username}}" name="user" />
			
								{% if user_object.username != user.username %}
								<a data-ripple=""><button type="submit" class="settings-or-follow">{{button_text}}</button></a>
								{% else %}
								<!-- <a href="/settings" data-ripple=""><button type="submit" class="settings-or-follow" >Account Settings</button></a> -->
								<a href="/settings" data-ripple="">Account Settings</a>
								{% endif %}
							</div>
						</form>
						<div class="bio">{{user_profile.bio}}</div>
					</h3>
				</div>
			</div>
		</div>

		<div class="row following-info">
			<form action="/follow" method="POST">
				{% csrf_token %}
				<div class="profile-info">
					{% if user_clothing_length == 0 %}
					<span class="info-bar-items"><b>0 clothes</b></span>
					{% elif user_clothing_length == 1 %}
					<span class="info-bar-items"><b>{{user_clothing_length}} clothing item</b></span>
					{% else %}
					<span class="info-bar-items"><b>{{user_clothing_length}} clothes</b></span>
					{% endif %}

					{% if user_followers == 1 %}
					<span class="info-bar-items"><b>{{user_followers}} follower</b></span>
					{% else %}
					<span class="info-bar-items"><b>{{user_followers}} followers</b></span>
					{% endif %}
					
					<span class="info-bar-items"><b>{{user_following}} following</b></span>
				</div>
			</form>
		</div>

		<div class="row content-section">
            <div class="timeline">
				{% if is_own_profile %}
					<div class="items">
						Clothes
					</div>
					<ul class="row photos">
						{% for clothing in user_clothing %}
						<li>
							<a class="strip" href="{{clothing.image.url}}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
								<img src="{{clothing.image.url}}" style="height: 150px; width: 150px;" class="clothing" alt=""></a>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
				<div class="items">
					Outfits
				</div>
            </div>

        </div>
    </div>
 </div>
</body>
</html>
